<% content_for :navbar do %>
  <li class="nav-item">
    <%= link_to "View Claimed Jobs", claims_path, class: "nav-link" %>
  </li>
  <%= link_to "Create job", new_job_path, class: "button m-3 btn btn-outline-success", class: "btn btn-outline-success my-2 my-sm-0" %>
  <li class="nav-item">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
  </li>
<% end %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Work better with us</h1>
    <p class="lead py-3">GoGet is a community platform for reliable and skilled part time help. Empower the community to achieve greater productivity and connectivity in everyday work.</p>
    <%= link_to "Create job", new_job_path, class: "button btn btn-outline-success" %>
  </div>
</div>
<h2>Job List</h2>
<% @jobs.each do |job| %>
  <div class="job-title-group">
    <small>Created by: <%= job.user.username %></small>
    <div class="job-title">
      <%= link_to job.title, job_path(job) %>
    </div>
  </div>
<% end %>
<script>
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        window.location.replace(`${window.location}?lat=${position.coords.latitude}&lng=${position.coords.longitude}`);
      });
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }
  
  (() => {
    let searchParams = new URLSearchParams(window.location.search);
  
    if (!(searchParams.has("lat") && searchParams.has("lng"))) {
      getLocation()
    }
  })()
</script>
