<h1>Jobs</h1>

<%= @job.title %>
<%= @job.description %>
<%= @job.pick_up_address %>
<%= @job.drop_off_address %><br />

<%= button_to 'Claim job', {:controller => "claims", :action => "create", :job_id => @job.id, :user_id=> session[:user_id]} , :method=>:post %>
